.promo {
    margin-bottom: 64px;
}

.promo__content {
    border-radius: 59px;
    background-color: #F4F6F5;
    display: flex;
    column-gap: 24px;
    padding-top: 68px;
    padding-left: 120px;
}

.promo__title {
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 96px;
    line-height: calc(120 / 96);
}

.promo__desc {
    font-weight: 400;
    font-size: 32px;
    line-height: calc(48 / 32);
    letter-spacing: -0.05em;
}