.brands {
    background-color: var(--yellow);
    padding: 60px 0 55px;
}

.brands__list {
    display: flex;
    align-items: center;
    column-gap: 100px;
    mix-blend-mode: multiply;
}

.brands__list :hover {
    /* transform: rotate(2deg); */
    transform: scale(1.1);
    transition: 0.8s;
}